<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
@model BakeryAppUI.Models.Date

<div class="container mt-5">

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="row">
                <label for="inputDate" class="col-sm-2 col-form-label font-weight-bold fs-5">Tarih</label>
                <div class="col-sm-10">
                    <div class="input-group input-group-lg">
                        <input type="date" class="form-control font-weight-bold" id="inputDate"
                               max="@DateTime.Now.ToString("yyyy-MM-dd")"
                               value="@ViewBag.date.ToString("yyyy-MM-dd")"
                               onchange="submitForm()">
                    </div>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm("PostDate", "MarketeVerilenEkmek", FormMethod.Post, new { id = "myForm" }))
    {
        <input type="hidden" id="dateHidden" name="date" />
    }

    <script>
        function submitForm() {
            var selectedDate = document.getElementById("inputDate").value;
            document.getElementById("dateHidden").value = selectedDate;
            document.getElementById("myForm").submit();
        }
    </script>


    <div class="row mt-5">
        @{
            int i = 0;
        }
        @foreach (var item in ViewBag.serviceListAndDetailDtos)
        {

            i++;

            <div class="col-md-4 col-12">

                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="card-title">
                            @i. Kayıt
                        </h4>
                    </div>

                    <div class="card-body text-center">
                        <p class="fs-4">
                            @*  <span class="iconify" data-icon="mdi-car" style="font-size: 36px;"></span> *@
                            <!-- Özel ekmek dağıtan araba ikonu örneği (internetten çekme) -->
                            <img src="https://www.svgrepo.com/show/308193/bread-truck-truck.svg" style="width: 40px; height: 40px;">
                            @item.Name
                        </p>
                        <!-- Button trigger for basic modal -->
                        <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal"
                                data-bs-target="#default_@i">
                            Detay
                        </button>

                        <!-- Basic Modal -->
                        <div class="modal fade text-left" id="default_@i" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel1">@i. Kayıt</h5>
                                        <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                                                aria-label="Kapat">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <!-- Modified modal body with tables -->
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <h5>Teslim Edilen Ürünler</h5>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Ürün Adı</th>
                                                            <th>Ürün Adedi</th>

                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        @foreach (var m in item.serviceListDetail)
                                                        {
                                                            <tr>
                                                                <td>@m.MarketName</td>
                                                                <td>@m.Quantity</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>


    <div class="row mt-5">


        <h5>Gün Özeti</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Market Adı</th>
                    <th>Toplam Tutar</th>
                    <th>Ödenen Ücret</th>
                    <th>Bayat Ekmek</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in ViewBag.paymentMarket)
                {
                    <tr>
                        <td>@item.MarketName</td>
                        <td>@item.TotalAmount</td>
                        <td>@item.Amount</td>
                        <td>@item.StaleBread</td>
                    </tr>
                }


            </tbody>
        </table>

    </div>


</div>



